{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Log In</h2>
<form method="post">{% csrf_token %}
    {{ form|crispy }}
    {{form.otp}} {{form.otp.label}}
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter OTP here" aria-label="Recipient's otp" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Verify OTP</button>
        </div>
      </div>
    <button class="btn btn-success ml-2" type="submit">Log In</button>
    <p><a href="{% url 'password_reset' %}">Forgot passowrd?</a></P>
</form>
{% endblock content %}